@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.ttf");
  font-weight: 400;
}
@font-face{
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.ttf");
  font-weight: 400;
}
* {
  margin: 0;
}
html {
  background-color: #FFF;
}
.base-container {
  width: 1915px;
  margin-right: auto;
  margin-left: auto;
}
.header {
  margin-top: 100px;
  margin-bottom: 100px;
}
.header-nav {
  display: flex;
  justify-content: center;
  gap: 61px;
}
.header-items {
  padding-top: 40px;
  padding-left: 29px;
  padding-right: 42px;
  padding-bottom: 25px;
}
.header-items:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.header-icons {
  margin-bottom: 25px;
}
.header-title {
  margin-bottom: 17px;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.header-text {
  margin-bottom: 17px;
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  max-width: 310px;
}

.header-read {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-weight: 400;
  line-height: 150%;
}

.body-down {
  padding-top: 92px;
  padding-bottom: 100px;
  background: #FAFAFA;
}

.body-down-head {
  margin-bottom: 50px;
}

.body-down-head-title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 19px;
}

.body-down-head-text {
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 682px;
  margin-right: auto;
  margin-left: auto;
}

.body-down-info {
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr 1fr;*/
  display: flex;
  justify-content: center;
  gap: 30px;
}

.body-down-info-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: #FFF;
}

.body-down-info-box:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.body-down-info-box2 {
  display: flex;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  flex-direction: column;
}
.body-down-info-box-title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 22px;
  text-align: center;
}

.body-down-info-box-text {
  color: #AAA;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  max-width: 310px;
  margin-bottom: 39px;
}

.body-down-info-box-btn {
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #F25822;
  border-style: none;
  padding: 15px 26px 15px 46px;
  border-radius: 50px;
}

.body-down-info-box-btn:hover {
  cursor: pointer;
}

.icons-right {
  margin-left: 6px;
}