@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 900;
}
html {
    font-family: "Lato";
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1600px;
}
.container {
  width: 1140px;
  /*max-width: 1140px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}
.header {
  display: flex;
  background-color: #222222;
  /*justify-content: space-between;*/
  justify-content: center;
  /*align-items: center;*/
  height: 75px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-icon-search {
  /*padding-left: 231px;*/
  display: flex;
  gap: 41px;
}
.header-nav {
  /*padding-right: 240px;*/
  display: flex;
  gap: 25px;
}
.section-top {
  background-color: #F1E4E6;
  display: flex;
}
.section-top-left {
  max-height: 764px;
  width: 100%;
  text-align: center;
}
.section-top-left-img {
  max-height: 764px;
}
.section-top-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
/*.section-top-right-div {*/
/*  height: 50%;*/
/*}*/
.section-top-right-top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.section-top-right-top-rectagle {
  padding-left: 63.42px;
}
.section-top-right-top-h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}
.section-top-right-top-text1 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.section-top-right-top-text2 {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.section-body {
  background-color: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 96px;
  padding: 65px 230px 60px 230px;
}
.section-body-trend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  gap: 30px;
  /*max-width: 1140px;*/
}
.section-body-trend-items {
  background-color: #211616B2;
  padding: 105px 103px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.section-body-trend-items-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
.trend-for-women {
  background-image: url("../img/for-women.png"), url("../img/Rectangle-items.png");
}
.trend-for-men {
  background-image: url("../img/for-men.png"), url("../img/Rectangle-items.png");
}
.trend-for-kids {
  background-image: url("../img/for-kids.png"), url("../img/Rectangle-items.png");
}
.trend-accesories {
  grid-column: span 3;
  background-image: url("../img/accesories.png"), url("../img/Rectangle-items3.png");
}
.trend-items-p1 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.trend-items-p2 {
  color: #F16D7F;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.section-body-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 47px;*/
}
.section-body-products-title {
  margin-bottom: 47px;
}
.section-body-products-title-h3 {
  color: #222;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 6px;
}
.section-body-products-title-p {
  color: #9F9F9F;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.section-body-products-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 48px;
}
.products-item {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  max-width: 360px;
  max-height: 581px;
  background-position: center;
  background-size: cover;
}
.products-item-div_img {
  height: 420px;
  width: 100%;
  height: 420px;
  position: relative;
  display: flex;
  justify-content: center;
}
.products-item-div_img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: none;
}
.products-item-div_img:hover::after {
  display: block;
}

.products-item-div_img_button {
    display: none;
    width: 139px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 2px solid white;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    background-color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.products-item-div_img:hover .products-item-div_img_button {
    display: flex;
}
.products-item-div_img_button:hover {
    cursor: pointer;
}
.products-item-text {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*gap: 16px;*/
  border-color: #F8F8F8;
}
.products-item-title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.products-item-descr {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 16px;
}
.products-item-price {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.section-body-products-browse-button {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 15px 39px 14px 39px;
  background: #FFF;
  border-style: solid;
  border-color: #F26376;
}
.section-container {
  display: flex;
  flex-direction: column;
}
.section-container-nav {
  background-color: #222224;
  height: 341px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-container-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-container-nav-container-div {
  width: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-container-nav-container-div-h3 {
  color: #FBFBFB;
  font-size: 19.96px;
  font-weight: 400;
  line-height: normal;
  margin-top: 28.7px;
}
.section-container-nav-container-div-text {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-weight: 300;
  line-height: normal;
  margin-top: 16px;
}
.section-subscribe {
  height: 448px;
  display: flex;
}
.footer {

}
.footer-icon {
  height: 79px;
  display: flex;
  background-color: #222224;
  align-items: center;
  justify-content: center;
}
.footer-icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icon-text {
  width: 332px;
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer-icon-system {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.29px;
}
.footer-icon-system-box {
  width: 31.451px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .header {
    height: 74px;
  }
  .container {
    width: 734px;
  }
  .section-top-right-top-h1 {
    font-size: 44px;
  }
  .section-top-right-top-text1 {
    font-size: 24px;
  }
  .section-top-right-top-text2 {
    font-size: 24px;
  }
  .section-top-left {
    max-height: 368px;
  }
  .section-top-left-img {
    max-height: 368px;
}
  .section-top-right-top {
    gap: 16px;
  }
  .section-top-right-top-rectagle {
    padding-left: 39px;
  }
  .section-body {
    gap: 110px;
    padding: 65px 16.5px 70.5px 16.5px;
  }
  .section-body-trend {
    gap: 19px;
  }
  .section-body-trend-items {
    padding: 59px 33px;
  }
  .section-body-products-title {
    margin-bottom: 72.7px;
  }
  .section-body-products-title-h3 {
    padding-bottom: 3.3px;
  }
  .section-body-products {

  }
  .section-body-products-items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin-bottom: 32.5px;
  }
.products-item {
  }
.products-item-text {
    padding: 24px 28.8px 20px 16.46px;
  }
  .products-item-title {
    margin-bottom: 12.65px;
  }
  .products-item-descr {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 343px;
  }
  .header-nav-profile {
    display: none;
  }
  .header-nav-basket {
    display: none;
  }
  .section-top {
    height: 363px;
  }
  .section-top-left {
    display: none;
  }
  .section-top-right-top {
    align-items: center;
    gap: 15px;
  }
  .section-top-right-top-rectagle {
    height: 61px;
    padding-left: 56px;
  }
  .section-top-right-top-h1 {
    font-size: 38px;
  }
  .section-top-right-top-text1 {
    font-size: 20px;
  }
  .section-top-right-top-text2 {
    font-size: 20px;
  }
  .section-body {
    gap: 64px;
    padding: 64px 16px 40.6px 16px;
  }
  .section-body-trend {
    gap: 32px;
  }
  .section-body-trend-items {
    grid-column: span 3;
  }
  .trend-for-women {
    padding: 98px 95px;
  }
  .trend-for-women {
    padding: 102px 73px 76px 73px;
  }
  .trend-for-kids {
    padding: 105px 90px 72px 90px;
  }
  .trend-accesories {
    padding: 30px 92px;
  }
  .section-body-products {
    padding-left: 8px;
    padding-right: 8px;
  }
  .section-body-products-title {
    margin-bottom: 64.7px;
  }
  .section-body-products-items {
    grid-template-columns: 1fr;
    grid-template-rows: none;
    margin-bottom: 40.6px;
  }
  .products-item-text {
    padding: 25px 28.8px 18px 16.4px;
  }
}