@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 900;
}
html {
    font-family: "Lato";
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1600px;
}
.header {
  display: flex;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.header-icon-search {
  padding-left: 231px;
  display: flex;
  gap: 41px;
}
.header-nav {
  padding-right: 240px;
}
.section-top {
  background-color: #F1E4E6;
  display: flex;
}
.section-top-left {
  max-height: 764px;
}
.section-top-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section-top-right-div {
  height: 50%;
}
.section-top-right-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}
.section-top-right-top-rectagle {
  padding-left: 63.42px;
}
.section-top-right-top-h1 {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}
.section-top-right-top-text1 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.section-top-right-top-text2 {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.section-body {
  background-color: #FFF;
  max-height: 2925px;
}
.section-body-trend {
  display: flex;
  gap: 30px;
}
.section-body-trend-items {
  fill: rgba(33, 22, 22, 0.70);
  max-height: 260px;
  max-width: 360px;
}
.section-body-trend-for-women {
  background-image: url("../img/for-women.png");
}
.section-body-trend-for-men {
  background-image: url("../img/for-men.png");
}
.section-body-trend-for-kids {
  background-image: url("../img/for-kids.png");
}
.section-body-trend-accesories {
  background-image: url("../img/accesories.png");
}